template(name="addproduct")
  .row
    .col-lg-12.text-center
      h2 Add new product!          
      hr.star-light

  .row
    form.form-inline.form-create
      .col-md-6.col-md-offset-3.highlight
        .row
          .col-md-9.margin10
            input#inputname.form-control(
              name='name',
              type='text', 
              placeholder='product name')
     
            select.form-control(
              placeholder='choose category',
              name='category_id')
              each categories
                option(value='#{_id}') #{name}     

        .row        
          .col-md-9.margin10
            +upload_bootstrap(
              fileTypes='.jpg,.png'
              contentType='images'
              multiple=false)
        .row        
          .col-md-9.margin10
            button.btn.btn-success(type="submit") add product


