template(name="addproduct")
  .row
    .col-lg-12.text-center
      h2 Add new product!          
      hr.star-light

  .highlight
    form.form-inline.form-create
      .form-group
        label(for='name')
        input#inputname.form-control(
          name='name',
          type='text', 
          placeholder='product name')

      .form-group          
        label(for='category_id')    
        select.form-control(
          placeholder='choose category',
          name='category_id')
          each categories
            option(value='#{_id}') #{name}
      
      button.btn.btn-success(type="submit") 
        .glyphicon.glyphicon-plus ADD PRODUCT

      +upload_bootstrap(
        fileTypes='.jpg,.png'
        contentType='images'
        multiple=false)



  
