template(name="product")
  .row
    .product-item
      .row
        .col-md-8
          h2 #{name}
      .row
        .col-md-4
          if image
            img(src="#{image}" width="300px" height="auto")
          else
            img(src="img/nophoto.jpg" width="300px" height="auto")
        .col-md-8
          if showreviews
            if reviews
              h3 Average rating #{averageratingsmall}
              .rateit(
                data-rateit-value="#{averageratingint}" 
                data-rateit-ispreset="true"
                data-rateit-readonly="true"
                data-rateit-step="1"
                data-rateit-min="1"
                data-rateit-max="6")
              ul.reviews
                each productreviews
                  +review
              p
                a.btn.btn-default.width150(href="#" class="product-hide-comments") &#x25B2; hide comments

          else if showretailers
            if productretailers
              .row
                .col-md-3.h3.strong RETAILER
                .col-md-3.h3.strong PRICE
              ul.retailers.list-unstyled
                each productretailers
                  li
                    .row
                      .col-md-3.h3 #{name} 
                      .col-md-3.h3 #{price}
              p
                a.btn.btn-default.width150(href="#" class="product-hide-retailers") &#x25B2; hide retailers
          else
            if reviews
              p
                a.btn.btn-default.width150(href="#" class="product-show-comments") &#x25BC; show comments
            else
              p
                em No reviews yet

            if productretailers
              p
                a.btn.btn-default.width150(href="#" class="product-show-retailers") &#x25BC; show retailers
            else
              p
                em No retailers yet

          if reviewing
            .highlight
              form.form-product-review.form-inline
                .form-group
                  input.form-control(name="review" type="textarea" placeholder="Write your review here")
                  .rateit(
                    id="rating"
                    data-rateit-resetable="false" 
                    data-rateit-ispreset="true"
                    data-rateit-value="1"
                    data-rateit-step="1"
                    data-rateit-min="1"
                    data-rateit-max="6")
                button.btn.btn-success(type="submit") Submit
                button.btn.btn-danger.cancel(type="cancel") Cancel
                script.
                  $('.rateit').rateit();
          else if assigning
            .highlight
              form.form-inline.form-product-assign
                .form-group
                  input.form-control(name="price" type="textarea" placeholder="Price")
                .form-group              
                  select.form-control(name="retailer_id")
                    each retailers
                      option(value="#{_id}") #{name}  
                button.btn.btn-success(type="submit") Submit
                button.btn.btn-danger.cancel(type="cancel") Cancel
          else
            .form-group
              button.product-comment.btn.btn-primary.width150 add comment
              button.product-retailer.btn.btn-primary.width150 assign to retailer
        .clearfix