template(name="product")
  .product-item 
    h2 #{name}
    if reviews
      ul.reviews
        each reviews
          +review

    if reviewing
      form(class="form-product-review")
        input(name="review" type="textarea" value="Write your review here")
        div(class="rateit" 
            id="rating"
            data-rateit-resetable="false" 
            data-rateit-ispreset="true"
            data-rateit-value="1"
            data-rateit-step="1"
            data-rateit-min="1"
            data-rateit-max="6")
        button(type="submit") Submit
        a(class="cancel" href="#") Cancel
        script.
          $('.rateit').rateit();
    else
      p
        a(href="#" class="product-comment") + add comment